.ChristmasCountdownContainer {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 50vh;
    transform: translateY(-50%);
    overflow: hidden;
  }
  
  .BackgroundImage {
    background-image: url("/src/assets/snow.png"); /* Adjust the path accordingly */
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  /* Add any other styles you need */
  